$background-color: #F2FFFE;
$mobile-limit: 1188px;

html {
    margin: 0;
    height: 100%;
    background: $background-color;
}

body {
    margin: 2%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// DESCRIPTION

#description {
    font-weight: 900;
    text-align: center;
}

// FORM

form {
    margin-top: 20px;
}

// CANVAS

canvas {
    /*
    width: 80%;
    @media screen and (max-width: $mobile-limit) {
        width: 100%;
    }
    */

    margin-top: 20px;
    outline: 2px solid #000;
    background-color: #fff;
}

