$background-color: #F2FFFE;

* {
    text-align: center;
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    background: $background-color;
}

body {
    margin: 2%;
    width: 50%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1188px) {
        width: 70%;
    }
}

// DESCRIPTION

#description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

// CONTENT

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#mood {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    button {
        border-color: transparent;
        background-color: transparent;

        &:first-child svg {
            fill: rgb(54, 173, 54);
        }

        &:last-child svg {
            fill: rgb(202, 74, 74);
        }
    }
}

#dog {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 100%;
    height: 60vh;

    img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
    }
}