$mobile-limit: 1188px;
$background-color: #F2FFFE;

html {
    margin: 0;
    height: 100%;
    background: $background-color;
}

body {
    margin: 2%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// DESCRIPTION

#description {
    font-weight: 900;
    text-align: center;
}

// VIDEO PLAYER

video-player {
    margin-top: 8px;
    width: 70%;
}

// Video selection

select {
    padding: 8px;
    margin-top: 8px;
    border: 3px solid #000;
    border-radius: 8px;
    font-weight: 700;
    background-color: transparent;
}
